/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: 16;
}

body {
    min-height: 100%;
    width: 100%;
    color: #03001e;
}

/* Header */
#logo {
    color: #ff9d00;
}

nav img {
    width: 50px;
    height: 50px;
}

/* Main */


/* Footer */
