/* Color swatch:
    #045300 (dark green)
    #01b017 (light green)
    #3cafac (cyan)
    #718977 (olive)
    #25232b (dark olive)
    #*/

/* Universal and extra large devices */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: 16;
}

body {
    min-height: 100vh;
    width: 100%;
    color: #03001e;
}

/* Header */
#top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    height: 72px;
    width: 100%;
    top: 0;
    background-color: rgba(37, 35, 43, .95);

}

#site-nav {
    display: flex;
    list-style-type: none;
}

#site-nav li {
    padding: 0 25px;
    font-size: 1.5rem;
}

#site-nav li a {
    text-decoration: none;
}

#logo {
    color: white;
    font-size: 2rem;
}

nav img {
    text-align: center;
    width: 25px;
    height: auto;
}

a, a:active, a:visited {
    color: white;
}

a:hover {
    color: rgb(184, 184, 184);
}

#hamburger {
    display: none;
}

/* Main */
main {
    padding-top: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90%;
}

.main-side-nav {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

#filter {
    display: none;
}

#search-accordion-title {
    padding-top: 20px;
    color: #03001e;
    text-transform: uppercase;
}

.search-accordion header {
    font-size: 1.25rem;
    margin: 10px 0;
}

.search-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #03001e;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

  form.main-search input[type=text] {
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #045300;
    float: left;
    background: #f1f1f1;
    width: 100%;
  }



.gallery img{
    width: 10vw;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin: 2.5px;
}

/* Footer */
footer {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    min-height: 100px;
    font-size: 1.75rem;
    background-color: #25232B;
    color: white;
    bottom: 0;
}

#socials img {
    padding: 0 20px;
}

/* large devices */
@media screen and (max-width: 1199px) {
    /* header */
    #site-nav > *:not(:last-child) {
        display: none;
    }

    #hamburger {
        display: block; 
        z-index: 1;
    }

    #hamburger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;

        background: white;
    }

    .gallery img {
        width: 10vw;
        height: auto;
    }
}

/* Medium Devices */
@media screen and (max-width: 991px) {
    /* Header */
    #site-nav > *:not(:last-child) {
        display: none;
    }

    #hamburger {
        display: block; 
        z-index: 1;
    }

    #hamburger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;

        background: white;
    }

    /* Main */
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gallery img {
        width: 150px;
        height: auto;
    }

    .gallery td {
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    /* footer */
    footer p {
        font-size: 1.25rem;
    }
}

/* phones */
@media screen and (max-width: 600px) {
    /* header */
    #logo {
        font-size: 1.5rem;
    }

    /* main */
    #search-accordion-title, #search-nav-list {
        display: none;
    }

    .main-side-nav {
        width: 80%;
        height: auto;
        padding: 50px 0;
    }

    #filter {
        display: block;
    }

    #filter button {
        width: 100%;
        height: auto;
        background: #045300;
        color: white;
        margin-top: 10px;
        font-size: .9375rem;
        line-height: 1.66666667;
        text-transform: uppercase;
    }

    /* footer */
    footer p {
        font-size: 1rem;
    }
    
    #socials img {
        width: auto;
        height: 40%;
        padding: 5px;
    }
}

/* tiny */
@media screen and (max-width: 380px) {
    .gallery td {
        width: 100%;
    }
    
}