/* Color swatch:
    #045300 (dark green)
    #01b017 (light green)
    #*/

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: 16;
}

body {
    min-height: 100vh;
    width: 100%;
    color: #03001e;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    height: 5%;
    width: 100%;
    top: 0;
    background-color: rgba(37, 35, 43, .95);

}

#site-nav {
    display: flex;
    list-style-type: none;
}

#site-nav li {
    padding: 0 25px;
    font-size: 1.5rem;
}

#site-nav li a {
    text-decoration: none;
}

#logo {
    color: white;
    font-size: 2rem;
}

nav img {
    text-align: center;
    width: 25px;
    height: auto;
}

a, a:active, a:visited {
    color: white;
}

a:hover {
    color: rgb(184, 184, 184);
}

/* Main */
main {
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

.main-side-nav {
    background-color: #3CAFAC;
    height: 600px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

#search-nav ul li {
    list-style-type: none;
    font-size: 2rem;
}

.gallery img{
    width: 200px;
    height: 200px;
    margin: 2.5px;
}

/* Footer */
footer {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 1.75rem;
    background-color: #25232B;
    color: white;
    position: absolute;
    bottom: 0;
}

/* #footer-contact p {
    padding: 0 20px;
} */

#socials img {
    padding: 0 20px;
}